<div class="pdf-popup">
  <button class="close-btn" (click)="fechar()" aria-label="Fechar">
    <ion-icon name="close"></ion-icon>
  </button>

  <div class="icon-wrap">
    <ion-icon name="document-text" class="doc-icon"></ion-icon>
  </div>

  <h2 class="title">PDF pronto</h2>
  <p class="filename">{{ fileName }}</p>

  <ion-button
    expand="block"
    color="primary"
    class="save-btn"
    (click)="salvar()"
  >
    <ion-icon [name]="botaoIcone" slot="start"></ion-icon>
    {{ botaoLabel }}
  </ion-button>
</div>
