<div class="acoes">
  <button type="button" class="row" (click)="pick('add-rodada')">
    <ion-icon name="albums-outline"></ion-icon>
    <span>Adicionar Rodada</span>
  </button>
  <button type="button" class="row" (click)="pick('add-partida')">
    <ion-icon name="add-outline"></ion-icon>
    <span>Adicionar Partida</span>
  </button>
  <button type="button" class="row" (click)="pick('editar-rodada')">
    <ion-icon name="create-outline"></ion-icon>
    <span>Editar Rodada</span>
  </button>
  <button type="button" class="row" (click)="pick('reordenar-rodadas')">
    <ion-icon name="swap-vertical-outline"></ion-icon>
    <span>Reordenar Rodadas</span>
  </button>
  <button type="button" class="row" (click)="pick('gerar-partidas')">
    <ion-icon name="flash-outline"></ion-icon>
    <span>Gerar todas as partidas</span>
  </button>
  <button type="button" class="row" (click)="pick('exportar')">
    <ion-icon name="download-outline"></ion-icon>
    <span>Exportar</span>
  </button>
</div>
