<div class="ce-wrap" *ngIf="vm$ | async as vm">
  <ng-container *ngIf="vm.linhas.length; else semEsc">
    <div class="ce-campo">
      <!-- marcações do campo -->
      <span class="ce-linha-meio"></span>
      <span class="ce-circulo"></span>
      <span class="ce-area ce-area-cima"></span>
      <span class="ce-area ce-area-baixo"></span>

      <div class="ce-linha" *ngFor="let linha of vm.linhas">
        <div class="ce-jogador" *ngFor="let j of linha.jogadores">
          <div class="ce-camisa">
            <ion-icon name="shirt" aria-hidden="true"></ion-icon>
            <span class="ce-num">{{ j.numero || '–' }}</span>
          </div>
          <div class="ce-pos" *ngIf="j.posicaoLabel">{{ j.posicaoLabel }}</div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #semEsc>
    <div class="ce-vazio">Escalação não definida</div>
  </ng-template>
</div>
